.nav-link{
    color:rgb(26, 24, 24);
    
}
.navbar{
    background: white;
    height: 75px;

}

.navbar-nav{
    padding-left: 200px;
}


.search-style{
    background: transparent;
    color: white;
}
.logo-pad{

    padding-left:100px;
}

.nav-item{
    padding-left: 20px;
}

.getintouch{
    color: #fff;
    background: linear-gradient(95.04deg,#ffaa3f .82%,#f35b04 97.35%);
    border: 0;
    transition: all .5s;
}

.getintouch:hover{
    color: rgba(234, 234, 234, 0.478);
}
h1{
    font-size: 85px;
    font-weight: 600;
    padding-bottom: 40px;
    color: #fff;
    padding-top: 200px;
}

.bg{
    background: url("banner.webp");
    height: 642px;
}
.para{
    max-width: 800px;
    font-family: "Poppins",sans-serif;
    margin: 0px auto;
    padding-bottom: 55px;
    font-weight: 500;
    color: #fff;
}
.mainbtn{
    color: #fff;
    background: linear-gradient(95.04deg,#ffaa3f .82%,#f35b04 97.35%);
    border: 0;
    transition: all .5s;
}

.mainbtn:hover{
    color: #fff;
    background: #f35b04;
    border: 0;
    color: rgba(234, 234, 234, 0.478);
    transition: all .5s;
}