* {
    box-sizing: border-box;
    margin: 0;
  }

  body {
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(90deg,rgb(58, 53, 53),rgb(41, 43, 48),rgb(28, 26, 24));
  }

.gallery img{
    width:100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius:5px;
}

header{
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(4, 4, 4);
    color: rgb(245, 238, 238);
    height:100px;
    padding: 32px;   
}

.gallery{
    margin: 0 auto;
    padding: 20px 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
    max-width: 1400px;   
}



.gallery img:hover{
    box-shadow: 0px 0px 10px 5px rgb(158, 230, 183);
}

.first{
    float: left;
    width:50%;
    background-color: #1f252a;
    height: 30px;
}

.second{
    float: left;
    width:50%;
    background-color: #1f252a;
    height: 30px;
}

footer{
    height: 100px;
    background-color: black;
    text-align: center;
    padding: 15px;
}

a{
    color: rgb(221, 159, 92);
    text-decoration: none;
    cursor: pointer;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer .des{
    color:white;
}
